*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(215, 219, 215) ;
}

.nav-bar{
    height: 10vh ;
    background-color: rgb(0, 150, 136);
}

.container-main{
    height: 90vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.left{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 30%;
}

.nav-left{
    height: 7%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
}

.profile{
    display: flex;
    align-items: center;
    margin-inline: 5px;
}

.profile img{
    height: 90%;
    border-radius: 100px;
}

.profile span{
    font-size: 20px;
    margin-inline: 5px;
}

.icon{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-inline: 7px;
    color: rgb(181, 181, 181);
}

.icon i{
    margin-inline: 10px;
}

.notification{
    height: 9%;
    background-color: rgb(142, 218, 252);
    display: flex;
    align-items: center;
}

.notification i{
    font-size: 25px;
    margin-left: 30px;
    padding: 15px;
    border-radius: 50%;
    color: rgb(142, 218, 252);
    background-color: rgb(255, 255, 255);
}

.notification .text{
    display: flex;
    flex-direction: column;
    margin-left: 15px ;
}

.input-group{
    height: 50px;
}

.input-group i{
    color: rgb(181, 181, 181);
    font-size: 20px;
}

.contacts{
    height: 79%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contacts :hover{
    cursor: pointer;
}

.contact{
    height: 15%;
    padding:50px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(233, 233, 233);
    font-size: 20px;
    position: relative;
}

.contact .date{
    position: absolute;
    right: 10px;
    top: 3px;
    color:rgb(181, 181, 181) ;
}

.last-msg{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

.contact .img-container img{
    width: 70px;
    border-radius: 50%;
}

.contact:active{
    background-color: rgb(212, 212, 212);
}


.right{
    background-image: url(img/mine.jpg);
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-right{
    height: 7.9%;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
}

.chat-contact .img-container{
    height: 5.5vh;
}

.chat-contact .img-container img{
    height: 100%;
    border-radius: 100%;
    margin-left: 30px;
}

.chat-contact-text{
    margin-left: 10px;

}

.chat-contact-text h3{
    margin-bottom: 0;
}

.chat{
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.recived, .sent{
    margin: 20px;
    border-radius: 10px;
    padding:0px 10px;
    font-size: 30px;
    align-items: center;
}

.recived{
    background-color: rgb(255, 255, 255);
    align-self: start;
}

.sent{
    background-color: rgb(213, 249, 186);
    align-self: end;
}

.msg-time{
    align-self: end;
    color: rgb(182, 182, 182);
    font-size: 13px;
    margin-left: 10px;
}

.dropdown i{
    color:rgb(181, 181, 181) ;
    font-size: 16px;
    vertical-align: super;
}

.footer-right{
    width: 100%;
    height: 80px;
    color: rgb(181, 181, 181);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.footer-right input{
    width: 90%;
    height: 85%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.footer-right i{
    font-size: 30px;
    margin-inline:15px;
    color: rgb(107, 115, 118);
}

.footer-right input{
    padding-left: 30px;
}